/* CartPage.css */
.cart-row {
    padding: 20px;
}

.cart-col {
    padding: 0 20px;
}

.product-info-col {
    text-align: center;
}


.action-buttons .ant-btn {
    margin-left: 8px;
    background-color: #ff4d4f;
    color: white;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.action-buttons .ant-btn:hover {
    background-color: #d4380d;
}

.product-image-col img {
    width: 75%;
    max-width: 100%;
    height: auto;
    object-fit: contain;
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #eaeaea;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}


.summary-card {
    padding: 0;
    margin-bottom: 20px;
    max-width: 100%;
    width: 100%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 16px;
    margin-bottom: 20px;
}

.product-row {
    width: 100%;
}

.cart-page-container {
    padding: 20px;
}

.quantity-and-remove {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

@media screen and (max-width: 768px) {
    .cart-col {
        padding: 0 10px;
    }

    .product-info-col {
        padding-left: 10px;
    }
}

