/* HomePage.css */

.loader-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.product-list-container {
    margin-top: 10px;
    border-radius: 15px;
}

.sale-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding-top: 5rem;
    font-weight: bold;
    font-family: Verdana;
}

.sale-container {
    padding-bottom: 3rem;
}

.trending-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding-top: 8rem;
    font-weight: bold;
    font-family: Verdana;
}

.slider-container {
    width: 100%;
    padding-left: 80px;
    padding-right: 80px;
}

.slider-container .carousel-slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media (max-width: 1650px) {
    .trending-title {
        padding-left: 0;
    }

    .sale-title {
        padding-left: 0;
    }
}

@media (max-width: 768px) {
    .home-page {
        display: flex;
        flex-direction: column;
    }

    .product-list-container {
        padding-right: 10%;
        padding-left: 10%;
    }

    .sale-title,
    .trending-title {
        font-size: 25px;
    }

    .slider-container {
        padding: 0;
        margin: 0;
    }

    .slider-container .carousel-slide img {
        max-height: 300px;
        width: auto;
        object-fit: contain;
    }

    .sale-container {
        margin-top: 3%;
    }

}

