/* SearchBar.css */

.custom-search-bar {
    width: 300px;
    margin-right: 1rem;
}

.search-bar-container {
    display: flex;
}

@media (max-width: 768px) {
    .custom-search-bar {
        margin-right: 8px;
        width: 120px;
    }

}