/* Slider.css */

.carousel-slide {
    text-align: center;
}

.carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media (max-width: 768px) {
    .carousel-slide {
        height: auto;
    }
}
