.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #E3E6E6;
}

.content {
  flex: 1;
  margin-bottom: 10%;
  margin-top: 1.5%;
}

.app-footer {
  margin-top: auto;
}

h2 {
  text-align: left;
}

p {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h3 {
  text-align: center;
}

@media (max-width: 768px) {
  .content {
  }
}
